<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<h1>Edit Your Profile</h1>
{% include 'flash.html' %}
<div class="well">
  <form action="" method="post" name="edit" role="form">
    {{form.hidden_tag()}}

    <div class="form-group">
       <label for="nickname">Your nickname:</label>
       {{form.nickname(size=24, class="span4")}}
       {% for error in form.errors.post %}
          <span class="help-block">[{{error}}]</span><br>
       {% endfor %}
    </div>

    <div class="form-group">
       <label for="about">About yourself:</label>
       {{form.nickname(size=24, class="span4")}}
       {% for error in form.errors.post %}
          <span class="help-block">[{{error}}]</span><br>
       {% endfor %}
    </div>



    <table>
      <tr>
        <td>About yourself:</td>
        <td>{{form.about_me(cols=32, rows=4)}}</td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" value="Save Changes"></td>
      </tr>
    </table>
  </form>
</div>
{% endblock %}
